---
title: Work
layout: layouts/base.njk
permalink: /work/
---
<section class="feed">
  <h2>{{ title }}</h2>
  <ul class="feed-list">
    {%- for entry in collections.feed %}
    {%- set title = entry.data.title %}
    {%- set embedType = entry.data.embedType %}
    {%- set embedUrl = entry.data.embedUrl %}
    {%- set sourceUrl = entry.data.sourceUrl %}
    {%- set thumbnail = entry.data.thumbnail %}
    <li class="feed-item">
      <h2>{{ title }}</h2>
      <p class="feed-item__date">{{ entry.data.date | readableDate }}</p>
      {%- if embedType == "podcast" %}
        {% include "partials/embed-podcast.njk" %}
      {%- elif embedType == "instagram" %}
        {% include "partials/embed-instagram.njk" %}
      {%- endif %}
      <p class="feed-item__caption">{{ entry.data.caption }}</p>
      {%- if entry.templateContent %}
        <div class="feed-item__body">{{ entry.templateContent | safe }}</div>
      {%- endif %}
    </li>
    {%- endfor %}
  </ul>
</section>
