---
import { site } from "../config/site";
---
<section class="mini-contact reveal">
  <p class="mini-contact__text">רוצים להתחבר?</p>
  <a class="button" href={`mailto:${site.email}`}>{site.email}</a>
</section>
