---
import type { CollectionEntry } from "astro:content";
import { withBase } from "../../lib/url";

interface Props {
  data: CollectionEntry<"work">["data"];
}
const { data } = Astro.props;
---
<div class="embed embed-photo">
  <span class="badge badge-photo">📷 רגע</span>
  <span class="embed-media">
    <img src={withBase(data.photo ?? "")} alt={data.title} loading="lazy" />
  </span>
</div>
