---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  bodyClass?: string;
  showMiniContact?: boolean;
}
const { title, bodyClass, showMiniContact } = Astro.props;
---
<BaseLayout
  title={title}
  bodyClass={bodyClass}
  showMiniContact={showMiniContact}
>
  <article class="page reveal">
    <h2>{title}</h2>
    <slot />
  </article>
</BaseLayout>
