<a class="embed embed-instagram" href="{{ sourceUrl }}" target="_blank" rel="noopener">
  <img src="{{ thumbnail | url }}" alt="{{ title }}" loading="lazy">
  <span class="embed-instagram__label">View on Instagram &rarr;</span>
</a>
